.login{
	.branding{
		position: absolute;
		left: 0px;
		top:0px;

		width: 100%;
		height: calc(100% - (100% / 1.618));

		background: $blue0;
		border-bottom: $blue0_1 solid 2px;

		.centerContainer{
			display: table;
			width: 100%;
			height: 100%;


			.centerContent{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
		}

		.logo{
			margin-bottom:15px;

			h1{
				color: white;
				font-weight: 300;
				font-size:35px;
			}
		}
		p{
			color: white;
			font-size:15px;
			width: 70%;
			margin:auto;
		}
	}

	.action{
		position: absolute;
		left: 0px;
		bottom:0px;

		width: 100%;
		height: calc(100% / 1.618);

		background: $white;
	}
}