
<ion-view view-title="Login" name="login-view" class="login">

  <div class='branding'>
  	<div class='centerContainer'>
  		<div class='centerContent'>
			  <div class='logo'>

			  	<h1>StrengthLab</h1>
			  </div>
			  
			  <p ng-if='loginMode'>
				  Login to track your training or start a new training program. 
			  </p>
			  <p ng-if='!loginMode'>
				  This is the text for the below method.
			  </p>

			</div>
	  </div>
  </div>
  <div class='action'>
			<form ng-submit='loginClick(loginCred)' class='padding'>
			    <label class="item item-input">
			        <input type="text" placeholder="Username" ng-model="loginCred.username">
			    </label>
			    <label class="item item-input">
			        <input type="password" placeholder="Password" ng-model="loginCred.password">
			    </label>
		    <button class="button button-block button-calm" type='submit'>Login</button>
		  </form>
  </div>
</ion-view>